<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor's Corner</title>
    <link rel="icon" type="image/x-icon" href="./Images/tc.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="./lessons.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
  <div id="app" class="font-sans bg-white-100">

    <!-- Nav bar -->
      <div class="nav">
        <!-- logo -->
        <div class="logo">{{logo}}</div>
        <!-- Search Bar -->
        <div class="mb-4 flex items-center">
          <input
            type="text"
            placeholder="Search Lesson"
            class="w-full p-2 border border-gray-300 rounded mr-2"
            v-model="searchQuery" v-on:input="searchProducts"
          />
        </div>
        <!-- button -->
        <button v-on:click="toggleTo"
          class="bg-orange-500 text-white py-2 px-4 rounded"
          :disabled="cart.length === 0" 
        >
          <i class="fa-sharp fa fa-cart-shopping" style="color: white"></i>
            {{ cartCount}}</i
          >
        </button>
      </div>
      <!-- End of nav bar -->

    <!-- Cart Page -->
    <div v-if="cartPage">

        <div class="cartTest">
            <div class="flex flex-col md:flex-row h-screen bg-white-200">
                <!-- Cart Content -->
            <div class="flex-1 p-8">
              <!-- Card Grid -->
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
               
                <!-- Display cart products -->
                <div
                  v-for="product in cart"
                  :key="product.id"
                  class="bg-white p-4 rounded-lg shadow-md"
                >
            
                  <h3 class="text-xl font-semibold mb-2">
                    Subject: {{product.subject}}
                  </h3>
                  <p class="text-gray-600 mb-4">Price: £{{product.price}}</p>
        
    
                  <!-- Add to cart button -->
                  <button
                    class="bg-orange-500 text-white py-2 px-4 rounded"
                    v-on:click="removeFromCart(product)"
                  >
                    Remove
                  </button>
                </div>
              </div>

            <!-- Checkout Form -->
              <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white" style="margin-top: 10rem;">Checkout</h1>

              <form class="checkoutForm">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
    <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
    <input type="text" v-model="checkoutFormInfo.name" id="name" type="text" name="name" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
       </div>
        <div>
    <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
    <input type="text" v-model="checkoutFormInfo.phone" id="phone" type="text" name="phone" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
       </div>
    </div>

    <button class="bg-orange-500 text-white py-2 px-4 rounded" v-on:click="checkout" :disabled="!isValidCheckout">Place Order</button>
              </form>

            <!-- End of Checkout Form -->
            </div>
            </div>
        </div>    
    </div>
    <!-- End of cart page -->

    <!-- Product Page -->
    <div class="productPage" v-if="!cartPage">
    <div class="flex flex-col md:flex-row h-screen bg-white-200">
        <!-- Sidebar -->
        <div class="w-full md:w-64 bg-white p-4">
          <h1 class="text-2xl font-bold mb-4">Filters</h1>

          <!-- Filter options -->
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600"
              >Sort By:</label
            >
            <div class="mt-1">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="subject"
                  value="subject"
                  name="radio"
                />
                <span class="ml-2">Subject</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="location"
                  value="location"
                  name="radio"
                />
                <span class="ml-2">Location</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="price"
                  value="price"
                  name="radio"
                />
                <span class="ml-2">Price</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="availability"
                  value="availability"
                  name="radio"
                />
                <span class="ml-2">Availability</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="category"
                  value="category"
                  name="radio"
                />
                <span class="ml-2">Category</span>
              </label>
            </div>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600"
              >Order By:</label
            >
            <div class="mt-1">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.orderBy"
                  name="orderBy"
                  value="ascending"
                  name="orderRadio"
                />
                <span class="ml-2">Ascending</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.orderBy"
                  name="orderBy"
                  value="descending"
                  name="orderRadio"
                />
                <span class="ml-2">Descending</span>
              </label>
            </div>
          </div>
        </div> 
    

        
        <!-- Main Content -->
        <div class="flex-1 p-8">
          <!-- Card Grid -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
            <!-- Display all products -->
            <div
              v-for="product in sortedProductList"
              :key="product.id"
              class="bg-white p-4 rounded-lg shadow-md"
            >
              <img
                v-bind:src="product.imagePath"
                :alt="product.subject"
                class="mb-4 rounded-md"
              />
              <h3 class="text-xl font-semibold mb-2">
                Subject: {{product.subject}}
              </h3>
              <p class="text-gray-600 mb-4">Location: {{product.location}}</p>
              <p class="text-gray-600 mb-4">Price: £{{product.price}}</p>
              <p class="text-gray-600 mb-4">
                Availability:
                <strong style="color: black">{{product.availability}}</strong>
              </p>
              <p class="text-gray-600 mb-4">Category: {{product.category}}</p>

              <!-- Add to cart button -->
              <button
                class="bg-orange-500 text-white py-2 px-4 rounded"
                v-on:click="addToCart(product, cart)"
                :disabled="product.availability === 0"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        </div>
    
      </div>
      <!-- End of product page -->
  </div>
   

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          products: products,
          logo: "Tutor's Corner",
          cartPage: false,
          cart: [],
          sort: {
            sortBy: "subject",
            orderBy: "ascending",
          },
          searchQuery: "",
          checkoutFormInfo: {
                    name: '',
                    phone: '',
                },
          orderConfirmed: false,
        },
        

        methods: {
          // To add items to cart
          addToCart(product) {
            if (product.availability > 0) {
              // Add the lesson to the cart
              this.cart.push(product);

              // Reduce the remaining space by one
              product.availability -= 1;
            }
          },

        // Switch between cart and product page
          toggleTo() {
            this.cartPage = !this.cartPage;
          },

          removeFromCart: function (product) {
         // Increase the availability of the removed product
         product.availability += 1;

         // Remove the product from the cart
         this.cart.splice(this.cart.indexOf(product), 1);
        },

        // Search Products 
        searchProducts() {
        const query = this.searchQuery.toLowerCase().trim();

        this.products = this.products.filter(product => {
        return (
          product.subject.toLowerCase().includes(query) ||
            product.location.toLowerCase().includes(query) ||
            product.category.toLowerCase().includes(query)
            );
        });
    },

    // Checkout
    checkout() {
       if (this.isValidCheckout) {
        // Display a message confirming the order submission
        this.orderConfirmed = true;
        alert("Order Confirmed!");
    }
},
},

        computed: {
          // Returns length of the cart items and an empty string if cart is empty
          cartCount: function () {
            return this.cart.length || "";
          },

        //   Diaplays All Sorted Products
          sortedProductList(products, sort) {
            return this.products.sort((a, b) => {
              const order = this.sort.orderBy === "ascending" ? 1 : -1;
              return a[this.sort.sortBy] > b[this.sort.sortBy] ? order : -order;
            });
          },

        // Checks if checkout is valid
          isValidCheckout() {
            // Checks name and phone number values
            const nameRegex = /^[a-zA-Z\s]+$/;
            const phoneRegex = /^[+0-9()\- ]+$/;
               return nameRegex.test(this.checkoutFormInfo.name) && phoneRegex.test(this.checkoutFormInfo.phone);
            },
        },
      });
    </script>
  </body>
</html>
