<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutor's Corner</title>
    <link rel="icon" type="image/x-icon" href="./Images/logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="./lessons.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
  <div id="app" class="font-sans bg-white-100">

    <!-- Nav bar -->
      <div class="nav">
        <!-- logo -->
        <div class="logo">{{logo}}</div>
        <!-- Search Bar -->
        <div class="mb-4 flex items-center">
          <input
            type="text"
            placeholder="Search Lesson"
            class="w-full p-2 border border-gray-300 rounded mr-2"
          />
        </div>
        <!-- button -->
        <button v-on:click="toggleTo"
          class="bg-orange-500 text-white py-2 px-4 rounded"
          :disabled="cart.length === 0" 
        >
          <i class="fa-sharp fa fa-cart-shopping" style="color: white"></i>
            {{ cartCount}}</i
          >
        </button>
      </div>
      <!-- End of nav bar -->

    <!-- Cart Page -->
    <div v-if="cartPage">
        <div class="flex flex-col md:flex-row h-screen bg-white-200">
            <!-- Cart Content -->
        <div class="flex-1 p-8">
          <!-- Card Grid -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
           
            <!-- Display cart products -->
            <div
              v-for="product in cart"
              :key="product.id"
              class="bg-white p-4 rounded-lg shadow-md"
            >
        
              <h3 class="text-xl font-semibold mb-2">
                Subject: {{product.subject}}
              </h3>
              <p class="text-gray-600 mb-4">Price: £{{product.price}}</p>
              <p class="text-gray-600 mb-4">
                Availability:
                <strong style="color: black">{{product.availability}}</strong>
              </p>

              <!-- Add to cart button -->
              <button
                class="bg-orange-500 text-white py-2 px-4 rounded"
                v-on:click="removeFromCart(product, cart)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        </div>
    </div>
    <!-- End of cart page -->

    <!-- Product Page -->
    <div class="productPage" v-if="!cartPage">
    <div class="flex flex-col md:flex-row h-screen bg-white-200">
        <!-- Sidebar -->
        <div class="w-full md:w-64 bg-white p-4">
          <h1 class="text-2xl font-bold mb-4">Filters</h1>

          <!-- Filter options -->
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600"
              >Sort By:</label
            >
            <div class="mt-1">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="subject"
                  value="subject"
                  name="radio"
                />
                <span class="ml-2">Subject</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="location"
                  value="location"
                  name="radio"
                />
                <span class="ml-2">Location</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="price"
                  value="price"
                  name="radio"
                />
                <span class="ml-2">Price</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="availability"
                  value="availability"
                  name="radio"
                />
                <span class="ml-2">Availability</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  v-model="sort.sortBy"
                  id="category"
                  value="category"
                  name="radio"
                />
                <span class="ml-2">Category</span>
              </label>
            </div>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-600"
              >Order By:</label
            >
            <div class="mt-1">
              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  name="sortBy"
                  value="latest"
                />
                <span class="ml-2">Ascending</span>
              </label>

              <label class="inline-flex items-center">
                <input
                  type="radio"
                  class="form-radio text-blue-500"
                  name="sortBy"
                  value="latest"
                />
                <span class="ml-2">Descending</span>
              </label>
            </div>
          </div>
        </div> 
    

        
        <!-- Main Content -->
        <div class="flex-1 p-8">
          <!-- Card Grid -->
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        
            <!-- Display all products -->
            <div
              v-for="product in sortedProductList"
              :key="product.id"
              class="bg-white p-4 rounded-lg shadow-md"
            >
              <img
                v-bind:src="product.imagePath"
                alt="product.subject"
                class="mb-4 rounded-md"
              />
              <h3 class="text-xl font-semibold mb-2">
                Subject: {{product.subject}}
              </h3>
              <p class="text-gray-600 mb-4">Location: {{product.location}}</p>
              <p class="text-gray-600 mb-4">Price: £{{product.price}}</p>
              <p class="text-gray-600 mb-4">
                Availability:
                <strong style="color: black">{{product.availability}}</strong>
              </p>
              <p class="text-gray-600 mb-4">Category: {{product.category}}</p>

              <!-- Add to cart button -->
              <button
                class="bg-orange-500 text-white py-2 px-4 rounded"
                v-on:click="addToCart(product, cart)"
                :disabled="product.availability === 0"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
        </div>
    
      </div>
      <!-- End of product page -->
  </div>
   

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          products: products,
          logo: "Tutor's Corner",
          cartPage: false,

          // Cart
          cart: [],
          sort: {
            sortBy: "subject",
            orderBy: "ascending",
          },
        },

        methods: {
          // To add items to cart
          addToCart(product) {
            if (product.availability > 0) {
              // Add the lesson to the cart
              this.cart.push(product);

              // Reduce the remaining space by one
              product.availability -= 1;
            }
          },

        
          toggleTo() {
            this.cartPage = !this.cartPage;
          },

           removeFromCart: function (product, cart) {
                    this.cart.splice(this.cart.indexOf(product), 1);
           }
        },

        computed: {
          // Returns length of the cart items and an empty string if cart is empty
          cartCount: function () {
            return this.cart.length || "";
          },

          sortedProductList(products, sort) {
            return this.products.sort((a, b) => {
              const order = this.sort.orderBy === "ascending" ? 1 : -1;
              return a[this.sort.sortBy] > b[this.sort.sortBy] ? order : -order;
            });
          },
        },
      });
    </script>
  </body>
</html>
